@font-face
  font-family 'Calibre JS'
  src url('../fonts/calibre-regular.woff')

*
  font-family 'Calibre JS'
  font-weight normal
  font-size 18px
  margin 0
  padding 0

a
  text-decoration none

button
  border none
  background-color white
  cursor pointer
  outline none

.center-wrapper
  max-width 1800px
  margin 0 auto